body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    color: white;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    font-size: 30px;
}

.box{
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    margin-top: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 3px 3px 10px rgb(48, 167, 247);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}
